.container{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
}

.btnHome{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-left: 20px;
    border:none;
    background-color: #E6E7E8;
    border-radius: 20px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color .5s;

}

.btnHome:hover{
    cursor: pointer;
    transition: background-color .5s;
    background-color: #cdcdce;
}

/* Container Principal */

.data{
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10vh;
    width: 40vw;
    height: fit-content;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.formContainer{
    background-color: #E6E7E8;
    border-radius: 2rem;
    width: 100%;
    padding: 2rem;
}

.title{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: clamp(2.5rem,3.5vw, 5rem);
    margin:0;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-top: .5rem;
}

.input,
.inputText{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: clamp(1rem, 1.3vw, 1.5rem);
    border: none;
    background-color: #F1F6F9;
    width: 100%;
    height: 2.3rem;
    border-radius: .7rem;
    padding-left: .5rem;
    resize: none;
    outline: none;
}

.inputText{
    height: 5rem;
}

/* Checkboxs */

.checks{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    height: fit-content;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: clamp(.5rem,1.7vw, 3rem);
}

.item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: clamp(.6rem, 2.5vw, 1.2rem);
    white-space: nowrap;
}

.box{
    height: clamp(1rem, 1.3vw, 1.5rem);
    width: 1.2rem;
}


/* Conainer Errores */

.errorsContainer{
    background-color: #E6E7E8;
    border-radius: 2rem;
    width: 100%;
    padding: 2rem;
    height: fit-content;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.danger{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 0;
}

.btnCreate{
    background-color: #99f376;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
    border-radius: 1.2rem;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    transition: background-color .5s;
}

.btnCreate:hover{
    cursor: pointer;
    transition: background-color .5s;
    background-color: #d5d8da;
}

/* Conainer Modal */

.modal{
    background-color: #b9b9b9;
    width: 60vw;
    max-width: 300px;
    height: 60vw;
    max-height: 280px;
    border-radius: 1.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modalTitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: clamp(2.2rem, 6vw, 3rem);
    margin: 0;
    text-align: center;
    padding: 1rem;
}

.modalBtn{
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    border:none;
    background-color: #E6E7E8;
    width: 70%;
    height: 20%;
    border-radius: 1rem;
    font-size: clamp(1.5rem, 2vw, 2.5rem);;
    transition: background-color .5s;
    margin-bottom: 1rem;
}

.modalBtn:hover{
    cursor: pointer;
    transition: background-color .5s;
    background-color: #cdcdce;
}


@media (max-width: 1350px) {
    .data{
        width: 60vw;
    }
}

@media (max-width: 900px) {
    .data{
        width: 85vw;
    }
}